@import '../../variables.scss';

ul,li {
    list-style-type: none;
}

.sortable-list .item {
    border-top: 2px solid transparent;
    cursor: pointer;
}

.sortable-list .item.dragstart {
    opacity: 0.5;
}

.sortable-list .item.dragover{
    border-top-color: $purple;
}