$purple : #6f44ff;
$lightPurple : rgba(111, 68, 255, .3);
$white : #ffffff;
$lightBoxShadow: rgba(0, 0, 0, 0.15);
$navy : #2f2e4e;
$lightFont : #777777;

:export {
    $purple : #6f44ff;
    $lightPurple : rgba(111, 68, 255, .3);
    $white : #ffffff;
    $lightBoxShadow: rgba(0, 0, 0, 0.15);
    $navy : #2f2e4e;
    $lightFont : #777777;
}

